name: hoppscotch
services:
    hoppscotch-frontend:
        ports:
            - 3000:3000
        env_file:
            - .env
        restart: unless-stopped
        image: hoppscotch/hoppscotch-frontend
    hoppscotch-backend:
        ports:
            - 3170:3170
        env_file:
            - .env
        restart: unless-stopped
        image: hoppscotch/hoppscotch-backend
    hoppscotch-admin:
        ports:
            - 3100:3100
        env_file:
            - .env
        restart: unless-stopped
        image: hoppscotch/hoppscotch-admin
