services:
  filebrowser:
    container_name: filebrowser
    image: filebrowser/filebrowser
    volumes:
      - "/home/ram:/srv:ro"
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.filebrowser.tls=${TLS_ENABLED}"
      - "traefik.http.routers.filebrowser.rule=Host(`filebrowser.${DOMAIN}`)"
      - "traefik.http.routers.filebrowser.entrypoints=${WEB_ENTRYPOINT}"
      - "traefik.http.services.filebrowser.loadbalancer.server.port=8080"
    networks:
      lan: {}

networks:
  lan:
    external: true

